ASSIGNMENT 1

IMAM KUSNADI

PYTN090ONL003

Dataset : Bank.csv

In [1]:
import pandas as pd
data = pd.read_csv('london_crime_by_lsoa.csv')
data

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6
...,...,...,...,...,...,...,...
13490599,E01000504,Brent,Criminal Damage,Criminal Damage To Dwelling,0,2015,2
13490600,E01002504,Hillingdon,Robbery,Personal Property,1,2015,6
13490601,E01004165,Sutton,Burglary,Burglary in a Dwelling,0,2011,2
13490602,E01001134,Croydon,Robbery,Business Property,0,2011,5
13490603,E01003413,Merton,Violence Against the Person,Wounding/GBH,0,2015,6

In [2]:
data

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6
...,...,...,...,...,...,...,...
13490599,E01000504,Brent,Criminal Damage,Criminal Damage To Dwelling,0,2015,2
13490600,E01002504,Hillingdon,Robbery,Personal Property,1,2015,6
13490601,E01004165,Sutton,Burglary,Burglary in a Dwelling,0,2011,2
13490602,E01001134,Croydon,Robbery,Business Property,0,2011,5
13490603,E01003413,Merton,Violence Against the Person,Wounding/GBH,0,2015,6

In [5]:
data[data['lsoa_code']>0]

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
id,21613.0,4.580302e+09,2.876566e+09,1.000102e+06,2.123049e+09,3.904930e+09,7.308900e+09,9.900000e+09
price,21613.0,5.400881e+05,3.671272e+05,7.500000e+04,3.219500e+05,4.500000e+05,6.450000e+05,7.700000e+06
bedrooms,21613.0,3.370842e+00,9.300618e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,3.300000e+01
bathrooms,21613.0,2.114757e+00,7.701632e-01,0.000000e+00,1.750000e+00,2.250000e+00,2.500000e+00,8.000000e+00
sqft_living,21613.0,2.079900e+03,9.184409e+02,2.900000e+02,1.427000e+03,1.910000e+03,2.550000e+03,1.354000e+04
sqft_lot,21613.0,1.510697e+04,4.142051e+04,5.200000e+02,5.040000e+03,7.618000e+03,1.068800e+04,1.651359e+06
floors,21613.0,1.494309e+00,5.399889e-01,1.000000e+00,1.000000e+00,1.500000e+00,2.000000e+00,3.500000e+00
waterfront,21613.0,7.541757e-03,8.651720e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
view,21613.0,2.343034e-01,7.663176e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
condition,21613.0,3.409430e+00,6.507430e-01,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00
grade,21613.0,7.656873e+00,1.175459e+00,1.000000e+00,7.000000e+00,7.000000e+00,8.000000e+00,1.300000e+01
sqft_above,21613.0,1.788391e+03,8.280910e+02,2.900000e+02,1.190000e+03,1.560000e+03,2.210000e+03,9.410000e+03
sqft_basement,21613.0,2.915090e+02,4.425750e+02,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e+02,4.820000e+03
yr_built,21613.0,1.971005e+03,2.937341e+01,1.900000e+03,1.951000e+03,1.975000e+03,1.997000e+03,2.015000e+03
yr_renovated,21613.0,8.440226e+01,4.016792e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015000e+03
zipcode,21613.0,9.807794e+04,5.350503e+01,9.800100e+04,9.803300e+04,9.806500e+04,9.811800e+04,9.819900e+04
lat,21613.0,4.756005e+01,1.385637e-01,4.715590e+01,4.747100e+01,4.757180e+01,4.767800e+01,4.777760e+01
long,21613.0,-1.222139e+02,1.408283e-01,-1.225190e+02,-1.223280e+02,-1.222300e+02,-1.221250e+02,-1.213150e+02
sqft_living15,21613.0,1.986552e+03,6.853913e+02,3.990000e+02,1.490000e+03,1.840000e+03,2.360000e+03,6.210000e+03
sqft_lot15,21613.0,1.276846e+04,2.730418e+04,6.510000e+02,5.100000e+03,7.620000e+03,1.008300e+04,8.712000e+05

In [ ]:
#Jumlah rumah yang sudah direnovasi
len(data[data['yr_renovated']>0])

914

In [ ]:
#Rata-rata harga rumah yang pernah direnovasi
data[data['yr_renovated']>0]['price'].mean()

760379.0295404814

Berapa luas minimum rumah yang harganya di bawah $300000, dengan jumlah lantai lebih dari satu dan belum pernah direnovasi?

In [ ]:
data[(data['price']<300000)&(data['floors']>1)&(data['yr_renovated']==0)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0,...,7,1190,0,2005,0,98133,47.7274,-122.357,1390,1756
56,9478500640,20140819T000000,292500.0,4,2.50,2250,4495,2.0,0,0,...,7,2250,0,2008,0,98042,47.3663,-122.114,2250,4500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21443,3278600750,20150407T000000,250000.0,1,1.50,1180,1688,2.0,0,0,...,8,1070,110,2007,0,98126,47.5490,-122.372,1380,2059
21526,1760650820,20150428T000000,290000.0,3,2.25,1610,3764,2.0,0,0,...,7,1610,0,2012,0,98042,47.3589,-122.083,1610,3825
21550,880000205,20140729T000000,249000.0,3,2.00,1260,1125,2.0,0,0,...,7,810,450,2011,0,98106,47.5262,-122.361,1260,1172
21572,6056111067,20140707T000000,230000.0,3,1.75,1140,1201,2.0,0,0,...,8,1140,0,2014,0,98108,47.5637,-122.295,1210,1552
21585,3832050760,20140828T000000,270000.0,3,2.50,1870,5000,2.0,0,0,...,7,1870,0,2009,0,98042,47.3339,-122.055,2170,5399

In [ ]:
data[(data['price']<300000)&(data['floors']>1)&(data['yr_renovated']==0)]['sqft_lot'].min()

572

Daerah dengan zipcode berapa yang harga rata-rata rumahnya paling murah dan paling mahal?

In [ ]:
data.groupby('zipcode').mean()['price']

/var/folders/gm/_hftbr2s54b7z8l_bh3vfyz00000gn/T/ipykernel_4206/3539233992.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('zipcode').mean()['price']

zipcode
98001    2.808047e+05
98002    2.342840e+05
98003    2.941113e+05
98004    1.355927e+06
98005    8.101649e+05
             ...
98177    6.761854e+05
98178    3.106128e+05
98188    2.890783e+05
98198    3.028789e+05
98199    7.918208e+05
Name: price, Length: 70, dtype: float64

In [ ]:
data.groupby('zipcode').agg({'price':'mean'})

                price
zipcode
98001    2.808047e+05
98002    2.342840e+05
98003    2.941113e+05
98004    1.355927e+06
98005    8.101649e+05
...               ...
98177    6.761854e+05
98178    3.106128e+05
98188    2.890783e+05
98198    3.028789e+05
98199    7.918208e+05

[70 rows x 1 columns]

In [ ]:
#Daerah dengan rata-rata harga termurah & termahal
data.groupby('zipcode').agg({'price':'mean'}).sort_values('price',ascending=True)

                price
zipcode
98002    2.342840e+05
98168    2.403284e+05
98032    2.512962e+05
98001    2.808047e+05
98148    2.849086e+05
...               ...
98102    9.012583e+05
98112    1.095499e+06
98040    1.194230e+06
98004    1.355927e+06
98039    2.160607e+06

[70 rows x 1 columns]

In [ ]:
price_mean = data.groupby('zipcode').mean()
harga_termurah = price_mean['price'].min()
harga_termahal = price_mean['price'].max()

print('Harga termurah di zipcode: {}'.format(price_mean[price_mean['price']==harga_termurah].index[0]))
print('Harga termahal di zipcode: {}'.format(price_mean[price_mean['price']==harga_termahal].index[0]))

Harga termurah di zipcode: 98002
Harga termahal di zipcode: 98039

/var/folders/gm/_hftbr2s54b7z8l_bh3vfyz00000gn/T/ipykernel_4206/2178353536.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  price_mean = data.groupby('zipcode').mean()